* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  // font-size: 1em;
  position: relative;
  min-width: 320px;
  padding: 0;
  margin: 0;
  background: $body-background;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

@media print {
  a {
    font-weight: 700;
    text-decoration: underline;
    color: $base-text-color;

    &:focus,
    &:active,
    &:hover {
      color: darken($base-text-color, 5%);
      text-decoration: none;
    }

    &::after {
      content: ' (' attr(href) ') ';
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}
