<footer class="footer">
    <ul class="footer__social-icons">
      <li class="footer__social-icon">
        <a href="https://github.com/{{ site.github_username }}" class="social-icon social-icon--github" title="Dan Purdy on Github" target="_blank"></a>
      </li>
      <li class="footer__social-icon">
        <a href="https://www.linkedin.com/in/dan-purdy-developer" class="social-icon social-icon--linkedIn" title="Dan Purdy on LinkedIn" target="_blank"></a>
      </li>
      <li class="footer__social-icon">
        <a href="/data/Dan-Purdy-CV.pdf" class="social-icon social-icon--cv" title="Download Dan Purdy's CV" target="_blank" download></a>
      </li>
    </ul>
</footer>
