.social-icon {
  display: block;
  width: 55px;
  height: 55px;

  &--github {
    background: url('/img/github-logo.png') top left no-repeat;
  }

  &--linkedIn {
    background: url('/img/linkedIn-logo.png') top left no-repeat;
  }

  &--cv {
    background: url('/img/cv-logo.png') top left no-repeat;
  }
}
